@import url(https://db.onlinewebfonts.com/c/9b310b2d91dfaf3b73ac6ea66c8351b2?family=Monument+Extended+Ultralight);
@import url("font/Lucidity/style.css");
@import url('https://fonts.cdnfonts.com/css/gellatio-personal-use');
body {
    background-color: #D9D9D9;
    
}

.container {
    max-width: 500px; 
    margin: auto;
    width: auto;
    font-optical-sizing: auto;
}

.user-icon {
    margin-bottom: 20px;
    margin-top: 50px;
}
.rounded-circle{
    width: 120px;
    height: 120px;
}

.card {
    border: none; 
    padding: auto;
}

.card-header {
    padding: auto;
    position: relative;
    background-color: #004DC2;
    max-height: 600px;
    
}
.card-foot {
    padding: 12px 20px;
    position: relative;
    background-color: #004DC2;
    size: 100px;
    
    
}

.h5{
    padding: 0;
    margin-bottom: 0px;
    font-family: 'Monument Extended Ultralight';
    font-weight:bold;
    font-style: normal;
    font-size: 20px;
}




.h7{
    font-family: 'Open Sans ', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    
}

.p1 {
    font-family: "Lucidity Expand", sans-serif;
    font-optical-sizing: auto;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 75;
    color: #fff;
    margin: 0;
}
.p2 {
    font-family: "Gellatio Personal Use", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 75;
    color: #000000;
    margin: 0;
    font-size: 10px;
    margin-top: 10px;

}
.p3 {
    font-family: "Gellatio Personal Use", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 75;
    color: light;
    margin-top: 20px;
    font-size: 30px;

}

.card-body {
    padding: 30px 20px;
    
}

.social-media a {
    margin: 5px; 
    width: 50px;
    height: 50px;
    
}

.btn-link {
    text-decoration: none;
    color: #000; 
    font-size: 18px;
}

.btn-link:hover{
    color: #004DC2;
    text-decoration: none;
}

.btn-link i {
    margin-right: 20px; 
}

.btn-circle {
    width: 45px; 
    height: 45px; 
    padding: 10px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
    background-color: #F9EC00;
    color:#004DC2;
   
}

.btn-circle:hover {
    background-color: #fff;
    color: #000000;
}

.btn-circle2 {
    width: 45px; 
    height: 45px; 
    padding: 0px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
}

.btn-circle2:hover{
    padding: 2px;
}

.btn-circle3 {
    width: 45px; 
    height: 45px; 
    padding: 10px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
    background-color: #F9EC00;
}

.btn-circle i {
    vertical-align:             middle; 
}

.contact-info .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-wrap: wrap;
}

.contact-info a {
    text-decoration: none;
    color: #000;
    font-family:'Open sans', sans-serif;            
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.text-white {
    color: #fff; 
}

.hr-separator {
    width: 100%;
    border-top: 1px solid white;
    margin: 10px 0;
}

.social-icon {
    width: 100%; 
    height: auto;
    border-radius: 50%;         
    
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 24px;
    line-height: 30px;
    color: #004DC2;
}

.floating-btn:hover{
    background-color: #004DC2;
    color: #D9D9D9;
}
.vl {
    border-left: 1px solid rgb(255, 0, 0);
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: -90px;
  }
