
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 500px; 
    margin: auto;
}

.user-icon {
    margin-bottom: 15px;
}
.rounded-circle{
    width: 120px;
    height: 120px;
}

.card {
    border: none; 
    
}

.card-header {
    padding: 20px;
    position: relative;
    background-color: #004DC2;
    
}

.h5{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.h6{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


.h7{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.p1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "wdth" 75;
    color: #fff;
    margin: 0;
}

.card-body {
    padding: 10px 20px; 
}

.social-media a {
    margin: 5px; 
    width: 70px;
    height: 70px;
}

.btn-link {
    text-decoration: none;
    color: #000; 
    font-size: 17px; 
}


.btn-link:hover{
    background-color: #004DC2;
    color: #F9EC00;;
    text-decoration: none;

}

.btn-link i {
    margin-right: 20px; 
}

.btn-circle {
    width: 45px; 
    height: 45px; 
    padding: 10px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
}

.btn-circle i {
    vertical-align: middle; /* Center the icon vertically */
}

.contact-info a {
    display: block;
    margin: 8px 0; /* Add margin for spacing */
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 75;
}

.text-white {
    color: #fff; /* Ensure text color is white */
}

.hr-separator {
    width: 100%;
    border-top: 1px solid white;
    margin: 10px 0;
}

.social-icon {
    width: 100%; /* Make social icons fit within the circle */
    height: auto;
    border-radius: 50%; /* Ensure icons are circular */
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 24px;
    line-height: 30px;
}
