body {
    background-color: #f8f9fa;
    
}

.container {
    max-width: 500px; 
    margin: auto;
}

.user-icon {
    margin-bottom: 20px;
    margin-top: 50px;
}
.rounded-circle{
    width: 120px;
    height: 120px;
}

.card {
    border: none; 
}

.card-header {
    padding: 20px;
    position: relative;
    background-color: #004DC2;
    max-height: 340px;
    
}

.h5{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.h6{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.h7{
    font-family: 'Lucidity';
    src: local('Lucidity Expand'), local('Lucidity-Expand'),
        url('Lucidity-Expand.woff2') format('woff2'),
        url('Lucidity-Expand.woff') format('woff'),
        url('Lucidity-Expand.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    
}

.p1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "wdth" 75;
    color: #fff;
    margin: 0;
}
.p2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "wdth" 75;
    color: #000000;
    margin: 0;
}

.card-body {
    padding: 10px 20px; 
}

.social-media a {
    margin: 5px; 
    width: 50px;
    height: 50px;
    
}

.btn-link {
    text-decoration: none;
    color: #000; 
    font-size: 18px; 
}

.btn-link:hover{
    color: #004DC2;
    text-decoration: none;
}

.btn-link i {
    margin-right: 20px; 
}

.btn-circle {
    width: 45px; 
    height: 45px; 
    padding: 10px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
    background-color: #F9EC00;
    color:#004DC2;
}

.btn-circle:hover {
    background-color: #fff;
}

.btn-circle2 {
    width: 45px; 
    height: 45px; 
    padding: 0px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
    
  
}

.btn-circle3 {
    width: 45px; 
    height: 45px; 
    padding: 10px;
    border-radius: 50%;
    font-size: 18px; 
    text-align: center;
    line-height: 24px; 
    background-color: #F9EC00;
}

.btn-circle i {
    vertical-align: middle; 
}

.contact-info .row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-info a {
    text-decoration: none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin: 10;
    padding: 10;
}

.text-white {
    color: #fff; 
}

.hr-separator {
    width: 100%;
    border-top: 1px solid white;
    margin: 10px 0;
}

.social-icon {
    width: 100%; 
    height: auto;
    border-radius: 50%; 
    
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 24px;
    line-height: 30px;
}

